{% extends "DHPlatformBundle::slide.html.twig" %}

{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block dhplatform_body %}

    <div class = "page_header">
        <div class="center">
            <img class="page_header_logo fl" src="{{ asset('bundles/dhplatform/images/news_logo.png') }}" alt="">
            <h1 class="page_header_title fl">Modifier son profil</h1>
            <ul class="page_header_nav fr">
                <li><a href="{{ path('dh_platform_home') }}">Accueil</a></li>
                <li><a class="active" href="{{ path('dh_platform_profile') }}">Modifier son profil</a></li>
            </ul>
            <div class="cf"></div>
        </div>
    </div>

    <div class='contact_content' style="margin:auto;background-color:#078b87;" >
        <div class="cf"></div>
        {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
        <div class="error">
            {{ form_errors(form) }}
        </div>
        <div style="width:100%;" class="center" >
            <p style="text-align:center;">
                <img id="image_profile" src="{{ asset('images/profile/' ~ userProfilePicturePath ) }}" title="user_avatar" />
            </p>
        </div>
        <p style="text-align:center;font-size:0.8em;color:white;">Choisissez votre avatar (2Mo Max, en jpg, jpeg, gif et png)</p>
        <div style="width:265px;margin:0 auto;background:#078b87;">
            {{ form_widget(form.profilePictureFile, {'attr': {'title': 'logo', 'value': "Uploader cette image"}}) }}
            <div class="cf"></div>
        </div>
        <div class="contact_form">
            {#<p style="text-align:center">#}
                {#<input type="checkbox" name="news" checked />Je souhaite recevoir des informations de DiabHelp par mail.<br>#}
                {#<input type="checkbox" name="news" />Je ne souhaite plus recevoir d\'informations de DiabHelp par mail.<br>#}
                {#<input type="checkbox" name="valide" value="valide" checked />Mon compte est validé<br>#}
            {#</p>#}
                <div class="contact_form_box">
                    <div class="form_box_left fl">
                        {{ form_widget(form.firstname, {'attr': {'class': 'contact_form_input_noname', 'placeholder' : 'Renseignez votre prénom'}}) }}
                        {{ form_widget(form.lastname, {'attr': {'class': 'contact_form_input_noname', 'placeholder' : 'Renseignez votre nom'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'contact_form_input_noname', 'placeholder' : 'Renseignez votre adresse email'}}) }}
                        {{ form_widget(form.organisme, {'attr': {'class': 'contact_form_input_noname', 'placeholder' : 'Renseignez votre association'}}) }}
                    </div>
                    <div class="form_box_center fl">
                        {{ form_widget(form.phone, {'attr': {'class': 'contact_form_input_noname', 'placeholder' : 'Renseignez votre numéro de téléphone'}}) }}
                        {{ form_widget(form.birthdate, {'attr': {'class': 'contact_form_input_noname'}}) }}
                        {{ form_widget(form.plainPassword) }}
                    </div>
                    <div class="form_box_righ fl proposer_submit">
                        {{ form_widget(form._token) }}
                        {{ form_widget(form.save, {'attr': {'class': 'contact_form_submit', 'type' : 'image', 'src' : asset('bundles/dhplatform/images/submit_button.png') }}) }}
                        <p>Modifier</p>
                    </div>
            </div>
    </div>
    <div class="cf"></div>
    <p style="text-align:center;" onclick=""><button style="color:red; padding: 2px 25px; background-color: #2a2a2a;">Je souhaite supprimer mon compte</button></p>
    <div class="cf"></div>

{% endblock %}