{# src/DH/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'Ils nous ont aidés' | trans }} - {{ parent() }}
{% endblock %}

{% block body %}

    <div class='center'>
        <h1 class=news_item_title>{{ 'Ils nous ont aidés' | trans }}</h1>
        <div class="cf"></div>
        <div class='news_item'>
            <div id='Text_News'>
                <h2>Thomas Ruiz</h2>
                <p>
                    {{ 'helper.thomas' | trans }}
                    <br/>
                    {{ 'Merci à Thomas ! :-)' | trans }}
                </p>
            </div>
        </div>
    </div>

{% endblock %}