{# src/DH/PlatformBundle/Resources/views/slide.html.twig #}

{% extends "::layout.html.twig" %}

 {% block body %}

     <div class="flexslider" id="home-slider">
         <ul class="slides">
             <li style="background-image:url({{ asset('bundles/dhplatform/images/flexslider/slide2.jpg') }}); background-size:cover; background-position:center center;">
                 <div class="descr">
                     <h1>DiabHelp</h1>
                     <p>{{ 'Un projet créé pour les patients, par les patients.<br/>Devenez acteur du développement de votre solution.' | trans }}</p>
                     <div class="descr_link"><a href="{{ path('dh_platform_contact') }}">{{ 'En savoir plus' | trans }}</a></div>
                 </div>
             </li>
             <li style="background-image:url({{ asset('bundles/dhplatform/images/flexslider/slide3.jpg') }}); background-size:cover; background-position:center center;">
                 <div class="descr">
                     <h1>{{ 'Réagissez' | trans }}</h1>
                     <p>{{ 'Notez et commentez les modules qui vous semblent pertinents.' | trans }}<br/></p>
                     <div class="descr_link"><a href="{{ path('dh_platform_module') }}">{{ 'En savoir plus' | trans }}</a></div>
                 </div>
             </li>
             <li style="background-image:url({{ asset('bundles/dhplatform/images/flexslider/slide1.jpg') }}); background-size:cover; background-position:center center;">
                 <div class="descr">
                     <h1>{{ 'Créez votre module' | trans }}</h1>
                     <p>{{ 'Proposez le module de votre choix !<br/>Il sera alors soumis aux votes de la communauté' | trans }}</p>
                     <div class="descr_link"><a href="{{ path('dh_platform_module_add') }}">{{ 'En savoir plus' | trans }}</a></div>
                 </div>
             </li>
         </ul>
     </div>

     {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
     {% block dhplatform_body %}
     {% endblock %}

 {% endblock %}
