{# src/DH/PlatformBundle/Resources/views/Article/view.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  {{ article.title }} - {{ parent() }}
{% endblock %}

{% block body %}

  <div id="content">
    <div class = "page_header">
      <div class= center >
        <img class="page_header_logo fl" src="{{ asset('bundles/dhplatform/images/news_logo.png') }}" alt="">
        <h1 class="page_header_title fl">{{ article.title }}</h1>
        <ul class="page_header_nav fr">
          <li><a href="{{ path('dh_platform_home') }}">{{ 'Accueil' | trans }}</a></li>
          <li><a class="active" href="{{ path('dh_platform_article') }}">{{ 'News' | trans }}</a></li>
        </ul>
        <div class="cf"></div>
      </div>
    </div>
    <div class=news_content>

    {{ include("DHPlatformBundle:Article:archiveMenu.html.twig") }}

       <div class=news_content_left fl>
         <div class=news_item>
           <div class= center>
               <img class='img_mod' id='image_profil' src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}" />
             <h2 class=news_item_date>{{ article.date|date('d/m/Y') }}</h2>
             <h2 class=news_item_title>{{ article.title }}</h2>
               {#<a class="fbShareButtonNews"><img src='{{ asset('bundles/dhplatform/images/sharefb.jpeg') }}'/></a>#}
             <div id = Text_News>
               <p class=news_content>
                {% if (article.text != null) %}
                    {% set paragraphs = article.text|split('\n') %}
                    {%  for par in paragraphs %}
                        <p>{{ par }}</p>
                    {% endfor %}
                {% endif %}
                </p>

             </div>
             <h2 class="contact_form_title" style="color:#474747;">{{ 'Poster un commentaire' | trans }}</h2>
             </div>
            {% if app.user %}
                <div id="comSend" style="position:relative;margin-bottom:10px" >
                    {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
                    <div class="error">
                        {{ form_errors(form) }}
                    </div>
                    <div align="center">
                        {{ form_widget(form.text, {'attr': {'class': 'texteareaCommentNews', 'rows' : 10, 'cols' : 100, 'placeholder' : 'Votre commentaire ici..' | trans }}) }}
                    </div>
                    <div align="center">
                        <button type="submit" class="submitCommentNews">{{ 'Envoyer' | trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <p style="font-size:1.8em;font-style:bold;text-align:center;">
                    {{ 'Vous devez être connecté afin de proposer un module.' | trans }}
                    <span onclick="show_signup()" style="color:blue;">
                        <a>{{ 'Se connecter' | trans }}</a>
                    </span>
                </p>
            {% endif %}
			<div class=news_opened_info>
				<div class=news_opened_info_author fl><p>{{ article.author.username }}</p></div>
				<div class=news_opened_info_comments fl>
                    <p><span>{{ article.comments|length }}</span>{{ 'Commentaires' | trans }}</p>
                </div>
				<div class=news_opened_info_date fl><p>{{ article.date|date('d/m/Y H:i:s') }}</p></div>
				<div class=news_opened_info_category fl><p>{{ 'Information' | trans }}</p></div>
				<br/>
			</div>
         </div>
           {% if article.comments|length > 0 %}
               <button type="button"  id="button_com_react" onclick="show_com_content('com_react_content');" >{{ 'Afficher les' | trans }} {{ article.comments|length }} {{ 'commentaires' | trans }}</button>
           {% endif %}
        <div id="com_react_content" style="height:auto; display:none;">
            {% for comment in article.comments %}
            {#<div class="simple_com">#}
                {#<div class="header_com">#}
                    {#<div id="header_com_gauche">#}
                        {#<img src="{{ asset('images/profile/' ~ comment.author.profilePicturePath ) }}" alt="user" class="icone_picture_user">#}
                        {#<h3>{{ comment.author.username }}</h3>#}
                    {#</div>#}
                    {#<div id="header_com_droite">#}
                        {#<div class="action_block">#}
                            {#{% if app.user and comment.author.id == app.user.id and loop.last %}#}
                                {#<div class="delete_com">#}
                                    {#<a style="background-color:red;" href="{{ path('dh_platform_article_comment_delete', {'id': comment.id}) }}">{{ 'Supprimer' | trans }}</a>#}
                                {#</div>#}
                            {#{% endif %}#}
                            {#{% if app.user and comment.author.id == app.user.id %}#}
                                {#<div class="modify_com">#}
                                    {#<a style="background-color:gray" onclick="">{{ 'Modifier' | trans }}</a>#}
                                {#</div>#}
                            {#{% endif %}#}
                        {#</div>#}
                        {#<h4>{{ comment.date|date('d/m/Y H:i:s') }}</h4>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="content_com">#}
                    {#<p id=com_info_msg" style="display:none"></p>#}
                    {#<div id=text_com>#}
                        {#<p>{{ comment.text }}</p>#}
                    {#</div>#}
                    {#<form action="" id=modif_com_form style="width:100%;display:none;">#}
                        {#<div align="center">#}
                            {#<textarea rows="10" cols="100" class="com_change" id=com_change>{{ comment.text }}</textarea>#}
                        {#</div>#}
                        {#<div align="center">#}
                            {#<input name="envoyer" class="send_button" id="envoyer" value="{{ 'Envoyer' | trans }}" />#}
                        {#</div>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
                <div class="simple_com">
                    <div class="header_com">
                        <div id="header_com_gauche">
                            <img src="{{ asset('images/profile/' ~ comment.author.profilePicturePath ) }}" alt="user" class="icone_picture_user">
                            <h3>{{ comment.author.username }}</h3>
                        </div>
                        <div id="header_com_droite">
                            <div class="action_block">
                                {% if app.user and comment.author.id == app.user.id and loop.last %}
                                    <div class="delete_com">
                                        <a style="background-color:red;" href="{{ path('dh_platform_article_comment_delete', {'id': comment.id}) }}">{{ 'Supprimer' | trans }}</a>
                                    </div>
                                    <div class="modify_com">
                                        <a style="background-color:gray" onclick="show_com_modification_form({{ comment.id }})">{{ 'Modifier' | trans }}</a>
                                    </div>
                                {% endif %}
                            </div>
                            <h4>{{ comment.date|date('d/m/Y H:i:s') }}</h4>
                        </div>
                    </div>
                    <div class="content_com">
                        <p id="com_info_msg{{ comment.id }}" style="display:none"></p>
                        <div id="text_com{{ comment.id }}">
                            <p>{{ comment.text }}</p>
                        </div>
                        <div id="modif_com_form{{ comment.id }}" style="width:100%;display:none;">
                            <div align="center">
                                <textarea rows="10" cols="100" class="com_change" id="com_change{{ comment.id }}">{{ comment.text }}</textarea>
                            </div>
                            <div align="center">
                                <input name="envoyer" class="send_button" id="envoyer" value="{{ 'Envoyer' | trans }}" onclick="update_com({{ comment.id }})" />
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
       </div>
    </div>
  </div>

    {#<h4 style="color:#474747;">Commentaires :</h4>#}

    {#{% for comment in article.comments %}#}
    {#<p>text : {{ comment.text }}</p>#}
    {#<p>user : {{ comment.author.username }}</p>#}
    {#<p>date : {{ comment.date|date('d/m/Y') }}</p>#}
    {#{% endfor %}#}

    {#<h4 style="color:#474747;">Ajouter un commentaire</h4>#}
    {#<div class="well">#}
    {#{{ form(form) }}#}
    {#</div>#}

{% endblock %}