

{% extends "DHPlatformBundle::slide.html.twig" %}

{% block title %}
	Mon carnet de suivi - {{ parent() }}
{% endblock %}

{% block dhplatform_body %}

	<div class= center >
		<h2>Carnet de suivi</h2>
		<p>Prénom : {{ firstname }} - Nom : {{ lastname }}</p>

		<table border="1">
			<tbody>
			<tr>
				<th>Date</th>
				<th>Titre</th>
				<th>Lieu</th>
				<th>Glucides</th>
				<th>Glycémie</th>
				<th>Hba1c</th>
				<th>Activité</th>
				<th>Type d'activité</th>
				<th>Insuline rapide</th>
				<th>Insuline lente</th>
				<th>Notes</th>
			</tr>
			{% for data in datas %}
				<tr>
					<td>{{ data.date }}, {{ data.hour }}</td>
					<td>{{ data.title }}</td>
					<td>{{ data.place }}</td>
					<td>{{ data.glucide }}</td>
					<td>{{ data.glycemy }}</td>
					<td>{{ data.hba1c }}</td>
					<td>{{ data.activity }}</td>
					<td>{{ data.activityType }}</td>
					<td>{{ data.fastInsu }}</td>
					<td>{{ data.slowInsu }}</td>
					<td>{{ data.notes }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}