{# Admin/Module/index #}

{% extends "DHAdminBundle::layout.html.twig" %}

{% block title %}
  Edition des modules - {{ parent() }}
{% endblock %}

{% block dhadmin_body %}

<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
{% for key, lmessage in app.session.flashbag.all() %}
	{% for message in lmessage %}
		<div class="alert alert-{{ key }}">
			<li>{{ key }} -> {{ message }}</li>
		</div>
	{% endfor %}
{% endfor %}


<p>	<a href="{{ path('dh_platform_module_add') }}">{{ "Add a module" | trans }}</a></p>


<table border="1">
<tbody>
	<tr>
        <th>{{ "ID" | trans }}</th>
        <th>{{ "Name" | trans }}</th>
        <th>{{ "Description" | trans }}</th>
        <th>{{ "Type" | trans }}</th>
        <th>{{ "Edit" | trans }}</th>
        <th>{{ "Hide/Show" | trans }}</th>
        <th>{{ "Delete" | trans }}</th>
	</tr>
	{% for module in modules %}
		<tr>
			<td>{{ module.id }} -> <a href="{{ path('dh_admin_modules_view', {'id': module.id}) }}">{{ "see more" | trans }}</a></td>
			<td>{{ module.name }}</td>
			<td>{{ module.description }}</td>
			<td>{{ module.type }}</td>
			<td><a href="{{ path('dh_admin_modules_edit', {'id': module.id}) }}">{{ "Edit" | trans }}</a></td>
			<td>
				<a href="{{ path('dh_admin_modules_hideorshow', {'id': module.id}) }}">
					{% if module.display == 1 %}
                        {{ "Hide" | trans }}
					{% else %}
                        {{ "Show" | trans }}
					{% endif %}
				</a>
			</td>
			<td>
                <a href="{{ path('dh_admin_modules_delete', {'id': module.id}) }}"
                   onclick="return confirm({{ "Are you sure?" | trans }})">{{ "Delete" | trans }}</a>
            </td>
		</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}
