{# Admin/Articles/index #}

{% extends "DHAdminBundle::layout.html.twig" %}

{% block title %}
    Ajout de news - {{ parent() }}
{% endblock %}

{% block dhadmin_body %}

<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
 -->
{% for key, lmessage in app.session.flashbag.all() %}
    {% for message in lmessage %}
        <div class="alert alert-{{ key }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
    <br>
{{ form_errors(form) }}
    <br>
{{ form_widget(form.author) }}
    <br>
{{ form_widget(form.title, {'attr': {'placeholder': 'title'}}) }}
    <br>
{{ form_widget(form.text, {'attr': {'placeholder': 'text'}}) }}
    <br>
{{ form_widget(form.imageFile) }}
    <br>
{{ form_widget(form._token) }}
    <br>
{{ form_widget(form.save) }}

{% endblock %}
