{# Admin/Articles/index #}

{% extends "DHAdminBundle::layout.html.twig" %}

{% block title %}
  Edition des news - {{ parent() }}
{% endblock %}

{% block dhadmin_body %}

<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
 -->
{% for key, lmessage in app.session.flashbag.all() %}
	{% for message in lmessage %}
		<div class="alert alert-{{ key }}">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}

	<a href="{{ path('dh_admin_articles_add') }}">Add an article</a>

	<table border="1">
<tbody>
	<tr>
		<th>id</th>
		<th>img</th>
		<th>date</th>
		<th>title</th>
		<th>text</th>
		<th>Edit</th>
		<th>Delete</th>
		<th>Hide/Show</th>
	</tr>
	{% for article in articles %}
		<tr>
			<td>{{ article.id }}</td>
			<td>
				<img class='img_art' id='image_profil' src="{{ vich_uploader_asset(article, 'imageFile') }}" />
			</td>
			<td>{{ article.date|date('d/m/Y') }}</td>
			<td>{{ article.title }}</td>
			<td>{{ article.text }}</td>
			<td><a href="{{ path('dh_admin_articles_edit', {'id': article.id}) }}">Edit this article</a></td>
			<td><a href="{{ path('dh_admin_articles_delete', {'id': article.id}) }}">Delete this article</a></td>
			<td>
				<a href="{{ path('dh_admin_articles_hideorshow', {'id': article.id}) }}">
					{% if article.display == 1 %}
						Hide
					{% else %}
						Show
					{% endif %}
				</a>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}
