<div class="news_content_right fr">
    <div class="widget news_archive">
        <h2 class="news_archive_title">{{ 'Archives' | trans }}</h2>
        <ul class="news_archive_item">
            <li><a href="#">{{ 'Janvier' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Février' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Mars' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Avril' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Mai' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Juin' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Juillet' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Août' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Septembre' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Octobre' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Novembre' | trans }}</a></li>
            <li class="news_archive_item_line"></li>
            <li><a href="#">{{ 'Décembre' | trans }}</a></li>
        </ul>
    </div>
</div>
