{% extends "DHPlatformBundle::slide.html.twig" %}

{% block title %}
  Articles - {{ parent() }}
{% endblock %}

{% block dhplatform_body %}

  <div id="content">
    <div class = "page_header">
      <div class= center >
        <img class="page_header_logo fl" src="{{ asset('bundles/dhplatform/images/news_logo.png') }}" alt="">
        <h1 class="page_header_title fl">News</h1>
        <ul class="page_header_nav fr">
          <li><a href="{{ path('dh_platform_home') }}">Accueil</a></li>
          <li><a class="active" href="{{ path('dh_platform_article') }}">News</a></li>
        </ul>
        <div class="cf"></div>
      </div>
    </div>
    <div class=news_content>

      {{ include("DHPlatformBundle:Article:archiveMenu.html.twig") }}

      {% for article in articles %}

        <div class=news_content_left fl>
          <div class=news_item>
            <div class= center >
              <img style="width:100%" src="{{ article.imgPath }}" border="0"/>
              <h2 class=news_item_date>{{ article.date|date('d/m/Y') }}</h2>
              <h2 class=news_item_title>{{ article.title }}</h2>
              <div id = Text_News>
                <p class=news_item_desc>
                  {{ article.text }}
                </p>
                <p class= news_item_link>
                  <a href="{{ path('dh_platform_article_view', {'id': article.id}) }}">Lire la suite</a>
                </p>
                <br/>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class = center>
      <div class="news_link_load_more">
        <a href="#">Plus de news ?</a>
      </div>
    </div>
  </div>

	{#<a href="{{ path('dh_platform_article_add') }}">Ajouter un putain d'article</a>#}

{% endblock %}
