{# src/DH/PlatformBundle/Resources/views/Module/view.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  {{ module.name }} - {{ parent() }}
{% endblock %}

{% block body %}

  <div class = 'page_header'>
    <div class= center >
      <img class='page_header_logo fl' src='{{ asset('bundles/dhplatform/images/news_logo.png') }}' alt=''>
      <h1 class='page_header_title fl'>{{ module.name }}</h1>
      <ul class='page_header_nav fr'>
        <li><a href='{{ path('dh_platform_home') }}'>{{ 'Accueil' | trans }}</a></li>
        <li><a class='active' href='{{ path('dh_platform_module') }}'>{{ 'Liste des modules' | trans }}</a></li>
      </ul>
      <div class='cf'></div>
    </div>
  </div>
  <div class='modules_back'>
    <div class='module_s'>
        <img class='img_mod' id='image_profil' src="{{ vich_uploader_asset(module, 'imageFile') }}" alt="{{ module.name }}" />
        <h2 id="module_name">{{ module.name }}</h2>
        <h3 style='text-align:left'>{{ 'Créé par' | trans }} : <em>{{ module.organisme }}</em></h3>
        <h4 style='text-align:left'>{{ 'Catégorie' | trans }} : {{ module.type }}</h4>
        {#<a class="fbShareButton"><img src='{{ asset('bundles/dhplatform/images/sharefb.jpeg') }}'/></a>#}
        <p>{{ 'Note actuelle' | trans }} : <a class="noteModule{{ module.id }}">{{ module.note | round(1, 'ceil') }}</a></p>
        <div class='rating' style='margin-right:35px;'>
          <a id="{{ module.id }}rating5" onclick="voteModuleView({{ module.id }}, 5)" {% if module.note > 4 %} style="color:#FFA500" {% endif %} title='{{ 'Attribuer 5 étoiles à ce module' | trans }}'>☆</a>
          <a id="{{ module.id }}rating4" onclick="voteModuleView({{ module.id }}, 4)" {% if module.note > 3 %} style="color:#FFA500" {% endif %} title='{{ 'Attribuer 4 étoiles à ce module' | trans }}'>☆</a>
          <a id="{{ module.id }}rating3" onclick="voteModuleView({{ module.id }}, 3)" {% if module.note > 2 %} style="color:#FFA500" {% endif %} title='{{ 'Attribuer 3 étoiles à ce module' | trans }}'>☆</a>
          <a id="{{ module.id }}rating2" onclick="voteModuleView({{ module.id }}, 2)" {% if module.note > 1 %} style="color:#FFA500" {% endif %} title='{{ 'Attribuer 2 étoiles à ce module' | trans }}'>☆</a>
          <a id="{{ module.id }}rating1" onclick="voteModuleView({{ module.id }}, 1)" {% if module.note > 0 %} style="color:#FFA500" {% endif %}title='{{ 'Attribuer 1 étoile à ce module' | trans }}'>☆</a>
        </div>
        <div class='describ_mod'>
          <p>{{ module.description }}</p>
        </div>
             <h2 class="contact_form_title" style="color:white;">{{ 'Poster un commentaire' | trans }}</h2>
            {% if app.user %}
                <div id="comSend" style="position:relative;margin-bottom:10px" >
                    {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
                    <div class="error">
                        {{ form_errors(form) }}
                    </div>
                    <div align="center">
                        {{ form_widget(form.text, {'attr': {'class': 'texteareaCommentNews', 'rows' : 10, 'cols' : 100, 'placeholder' : 'Votre commentaire ici..' | trans }}) }}
                    </div>
                    <div align="center">
                        <button type="submit" class="submitCommentNews">{{ 'Envoyer' | trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <p style="font-size:1.8em;font-style:bold;text-align:center;">
                    {{ 'Vous devez être connecté afin poster un commentaire.' | trans }}
                    <span onclick="show_signup()" style="color:blue;">
                      <a>{{ 'Se connecter' | trans }}</a>
                    </span>
                </p>
            {% endif %}
		<button type="button"  id="button_com_react" onclick="show_com_content('com_react_content');" >
            {{ 'Afficher les' | trans }} {{ module.comments|length }} {{ 'commentaires' | trans }}
        </button>
    </div>
        <div id="com_react_content" style="height:auto; display:none;">
            {% for comment in module.comments %}
            <div class="simple_com">
                <div class="header_com">
                    <div id="header_com_gauche">
                        <img src="{{ asset('images/profile/' ~ comment.author.profilePicturePath ) }}" alt="user" class="icone_picture_user">
                        <h3>{{ comment.author.username }}</h3>
                        <h3>{{ comment.vote }} / 5</h3>
                    </div>
                    <div id="header_com_droite">
                        <div class="action_block">
                            {% if app.user and comment.author.id == app.user.id and loop.last %}
                                <div class="delete_com">
                                    <a style="background-color:red;" href="{{ path('dh_platform_module_comment_delete', {'id': comment.id}) }}">{{ 'Supprimer' | trans }}</a>
                                </div>
                                <div class="modify_com">
                                    <a style="background-color:gray" onclick="show_com_modification_form({{ comment.id }})">{{ 'Modifier' | trans }}</a>
                                </div>
                            {% endif %}
                        </div>
                        <h4>{{ comment.date|date('d/m/Y H:i:s') }}</h4>
                    </div>
                </div>
                <div class="content_com">
                    <p id="com_info_msg{{ comment.id }}" style="display:none"></p>
                    <div id="text_com{{ comment.id }}">
                        <p>{{ comment.text }}</p>
                    </div>
                    <div id="modif_com_form{{ comment.id }}" style="width:100%;display:none;">
                        <div align="center">
                            <textarea rows="10" cols="100" class="com_change" id="com_change{{ comment.id }}">{{ comment.text }}</textarea>
                        </div>
                        <div align="center">
                            <input name="envoyer" class="send_button" id="envoyer" value="{{ 'Envoyer' | trans }}" onclick="update_com({{ comment.id }})" />
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      <br/>
  </div>

  {#<h2>{{ module.name }}</h2>#}
  {#<li>Type    : {{ module.type }}</li>#}
  {#<li>Note    : {{ module.note }}/5</li>#}
  {#<li>Nb vote : {{ module.nbVote }}</li>#}
  {#<p>{{ module.description }}</p>#}


{% endblock %}