{# Admin/Articles/index #}

{% extends "DHAdminBundle::layout.html.twig" %}

{% block title %}
  Edition des news - {{ parent() }}
{% endblock %}

{% block dhadmin_body %}

<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
 -->
{% for key, lmessage in app.session.flashbag.all() %}
	{% for message in lmessage %}
		<div class="alert alert-{{ key }}">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}

	<p><a href="{{ path('dh_admin_articles_add') }}">{{ "Add an article" | trans }}</a></p>

	<table border="1">
<tbody>
	<tr>
		<th>{{ "ID" | trans }}</th>
		<th>{{ "Image"| trans }}</th>
		<th>{{ "Date" | trans }}</th>
		<th>{{ "Title" | trans }}</th>
		<th>{{ "Text" | trans }}</th>
		<th>{{ "Edit" | trans }}</th>
		<th>{{ "Hide/Show" | trans }}</th>
		<th>{{ "Delete" | trans }}</th>
	</tr>
	{% for article in articles %}
		<tr>
			<td>{{ article.id }}</td>
			<td>
				<img class='img_art' id='image_profil' src="{{ vich_uploader_asset(article, 'imageFile') }}" />
			</td>
			<td>{{ article.date|date('d/m/Y') }}</td>
			<td>{{ article.title }}</td>
			<td>{{ article.text }}</td>
			<td><a href="{{ path('dh_admin_articles_edit', {'id': article.id}) }}" >{{ "Edit" | trans }}</a></td>
			<td>
				<a href="{{ path('dh_admin_articles_hideorshow', {'id': article.id}) }}">
					{% if article.display == 1 %}
						{{ "Hide" | trans }}
					{% else %}
						{{ "Show" | trans }}
					{% endif %}
				</a>
			</td>
			<td>
				<a href="{{ path('dh_admin_articles_delete', {'id': article.id}) }}"
				   onclick="return confirm({{ 'Are you sure?' | trans }})">{{ "Delete" | trans }}</a>
			</td>
		</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}
